.Custom-CSS-Editor {
    background-color: transparent !important;
}

.jodit-toolbar__box {
    background-color: transparent !important;
    border: none !important;
}

.jodit-wysiwyg {
    background-color: transparent !important;
}
.jodit-workplace {
    background: transparent !important;
}

.jodit-status-bar {
    background-color: transparent !important;
}
