/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .input_container {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    gap: 10px;
  }
  .body {
    margin-top: 20px;
  } */
